### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
#unique values-players
purchase_no = purchase_data['SN'].nunique()
unique_dict = {'Player Count': purchase_no}
players = pd.DataFrame(unique_dict, index=['Count'])
players

       Player Count
Count           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
#total number of unique items
unique_items=purchase_data['Item ID'].nunique()
print("unique items are", unique_items )

unique items are 183

In [16]:
#average cost
average_cost= purchase_data['Price'].mean()
print("average cost is", average_cost)

average cost is 3.050987179487176

In [17]:
#total revenue

total_revenue = purchase_data['Price'].sum()
print("total revenue is", total_revenue)

total revenue is 2379.77

In [18]:
#number of purchases

unique_purchase = purchase_data['Purchase ID'].nunique()
unique_purchase

780

In [23]:
#summary

purchase_dict = {'Unique Items':unique_items, 'Ave. Cost': average_cost, 'Total revenue': total_revenue, 'Purchases':unique_purchase }

Purchase_Analysis = pd.DataFrame(purchase_dict, index = ['Count'])


Purchase_Analysis = Purchase_Analysis.style.format({
    'Ave. Cost': '${:.2f}'.format,
    'Total revenue': '${:.2f}'.format
})
Purchase_Analysis

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#count of male players
purchase_data['Gender'].value_counts('Male') * 100

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [10]:
#percentage
df = pd.DataFrame( {'Gender':['Male','Female','Other/ Non=Disclosed'], 'Count': [652, 113, 15]} )
df.head()

                 Gender  Count
0                  Male    652
1                Female    113
2  Other/ Non=Disclosed     15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
#gender unique purchase
purchase_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [55]:
purchase_total = purchase_data.groupby(['Gender']).sum()['Price']

purchase_total['Average_price'] = purchase_data.groupby(['Gender']).mean()['Price']

purchase_count = purchase_data.groupby(['Gender']).count()['Price']

purchase_analysis = purchase_data.groupby('Gender').agg({'Purchase ID': 'count', 'Price': 'mean'})

gender_analysis = pd.DataFrame({"Purchase Total": purchase_total, "Purchase Count": purchase_count, "Purchase Analysis": purchase_analysis})

gender_analysis.head()

ValueError: could not broadcast input array from shape (2) into shape (4)

In [49]:
a = pd.Series([purchase_total, purchase_count, np.nan])
a

0    Gender
Female                                 ...
1    Gender
Female                   113
Male      ...
2                                                  NaN
dtype: object

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [73]:
#bins

df= pd.DataFrame(purchase_data)

df.head()

bins = [0,9,14,19,24,29,34,39,40]

group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

df["Age group"]= pd.cut(df["Age"], bins, labels=group_names)
df


df_age=df.groupby(['Age group'])

total_count = df["Age group"].count()
value_count = df["Age group"].value_counts()
per_value = round(value_count/total_count*100,2)



#data

age_data= pd.DataFrame({"Percentage of players":per_value,"Total Count":value_count})
age_data= age_data.sort_index()
age_data

       Percentage of players  Total Count
<10                     2.98           23
10-14                   3.62           28
15-19                  17.59          136
20-24                  47.22          365
25-29                  13.07          101
30-34                   9.44           73
35-39                   5.30           41
40+                     0.78            6

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
#bins

df= pd.DataFrame(purchase_data)


purchase_count = df['Price'].count()

avepurchase_price=df['Price'].mean()

totalpurchase_count=df['Price'].sum()

summary_data= pd.DataFrame([{"purchase count":purchase_count,"Average Purchase Price":avepurchase_price,"Total Purchase Count":totalpurchase_count}])
summary_data = summary_data.style.format({
    'Average Purchase Price': '${:.2f}'.format,
    'Total Purchase Count': '{:.2f}'.format
})

summary_data

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [120]:
#SN
group_df= purchase_data.groupby(['SN'])

#total purchase
total_purchase = group_df['Price'].sum()
#purchase count
purchase_count = group_df['Price'].count()
#average purchase price
average_price = group_df['Price'].mean()

summary_table=pd.DataFrame({"purchase count":purchase_count,"average purchase price":average_price,"total purchase":total_purchase})
summary_table=summary_table.sort_values('total purchase', ascending=False)
summary_table.head(5)

             purchase count  average purchase price  total purchase
SN
Lisosia93                 5                3.792000           18.96
Idastidru52               4                3.862500           15.45
Chamjask73                3                4.610000           13.83
Iral74                    4                3.405000           13.62
Iskadarya95               3                4.366667           13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
popular_df= purchase_data.groupby(['Item ID', 'Item Name'])

#total purchase value
total_purchase = popular_df['Price'].sum()

#purchase count
purchase_count = popular_df['Price'].count()

#item price
item_price = popular_df['Price']

#average purchase price
ave_purchase = popular_df['Price'].mean()

summary = pd.DataFrame({"Total purchase":total_purchase, "Purchase count":purchase_count, "Average purchase Price":ave_purchase})

summary=summary.sort_values('Purchase count', ascending=False)

summary.head()

,,Total purchase,Purchase count,Average purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.23
145,Fiery Glass Crusader,41.22,9,4.58
108,"Extraction, Quickblade Of Trembling Hands",31.77,9,3.53
82,Nirvana,44.10,9,4.90
19,"Pursuit, Cudgel of Necromancy",8.16,8,1.02

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [129]:
popular_df= purchase_data.groupby(['Item ID', 'Item Name'])

#total purchase
total_purchase = popular_df['Price'].sum()

#purchase count
purchase_count = popular_df['Price'].count()

#item price
item_price = popular_df['Price']

#average purchase price
ave_purchase = popular_df['Price'].mean()

summary = pd.DataFrame({"Total purchase":total_purchase, "Purchase count":purchase_count, "Average purchase Price":ave_purchase})

In [130]:
summary=summary.sort_values('Purchase count', ascending=False)

summary.head()

,,Total purchase,Purchase count,Average purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,12,4.23
145,Fiery Glass Crusader,41.22,9,4.58
108,"Extraction, Quickblade Of Trembling Hands",31.77,9,3.53
82,Nirvana,44.10,9,4.90
19,"Pursuit, Cudgel of Necromancy",8.16,8,1.02